body {
    font-family: 'Lato', sans-serif;
}
.image-size{
    width: 40px;
    height: 50px;
}
.border-title{
    border-radius: 10px;
}
.first-title{
    margin-top: 5%;
}
.pic-1{
    width: 50%;
    margin-left: 30%;
}
.lady{
    height: 400px;
}
.icon-fixed{
    margin-right: 20px;
}
.lower-case{
    margin-top: 10px;
    color: #fabe4c;
}
.sec-3{
    border: 0;
    
}
@media screen and (max-width:768px) {
    .first-content{
        text-align: center;}

    }
}
@media screen and (max-width:576px) {
    .icon-size{
        size: 30px;}
        
    }
}
